.rememberload {
  left: 0.25em;
  position: relative;
}

.rememberitem {
  position: relative;
}

.rememberitem .title {
  margin-right: 1.5em;
}

.rememberitem .rememberdelete, .rememberitem .rememberload {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.rememberitem .rememberload {
  left: auto;
}

/*!
 * RememberThis - Remember List for xPDO Objects
 * Version: 2.2.0
 * Build date: 2018-07-05
 */
