.rememberitem { 
	position: relative
}
.rememberitem .title { 
	margin-right: 26px
}
.rememberitem .rememberdelete { 
	position: absolute; 
	display: block; 
	right: 0; 
	top: 0; 
	width: 16px; 
	height: 16px
}
